@model bookyourdoctor.doctor

@{
    ViewBag.Title = "Dentist Details";
}

<h2>DentistDetails</h2>

<body style="background-image:url(../images/den.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:400px;">
   



    @{
        doctor dg = new doctor();
        IEnumerable<doctor> lst = dg.doctorsspec("Dentist");
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>

                    <th style="font-family:Arial;font-size:24px">NAME</th>
                    <th style="font-family:Arial;font-size:24px">CLINIC NAME</th>
                    <th style="font-family:Arial;font-size:24px">HOSPITAL NAME</th>
                    <th style="font-family:Arial;font-size:24px">DETAILS</th>

                </tr>
                @foreach (var item in lst.ToList())
                {
                    <tr>
                        <td style="font-family:Arial;font-size:24px">@Html.DisplayFor(modelItem => item.name)</td>
                        <td style="font-family:Arial;font-size:24px">@Html.DisplayFor(modelItem => item.clinic_name)</td>
                        <td style="font-family:Arial;font-size:24px">@Html.DisplayFor(modelItem => item.hospital_name)</td>
                        <td style="font-family:Arial;font-size:24px">@Html.ActionLink("Details", "Details", "doctors", new { ide = item.doctor_id }, null)</td>
                    </tr>

                }

            </tbody>
        </table>
    }

</body>

