@model bookyourdoctor.doctor_scedule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>doctor_scedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.clinic_start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinic_start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital_start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital_start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clinic_end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clinic_end_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospital_end_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospital_end_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.is_avalible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_avalible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Clinic_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clinic_day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hospial_day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hospial_day)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.doctor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
